@import '~antd/dist/antd.css';

.OptionsContainer {
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options-form {
  width: 500px;
}